<% layout('layouts/boilerplate') %>
    <div class="alert danger alert-danger w-100 mx-auto" role="alert">
        <h4 class="alert-heading">
            <%= err.message %>
        </h4>
        <p>
            <%= err.stack %>
        </p>
        <p>Gosh,enter proper data!</p>
        <p class="mb-0">Be sure please next time thankyou</p>
    </div>