<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST">
                <!-- Title -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control"  type="text" id="title" name="campground[title]">
                </div>
                <!-- Location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]">
                </div>
                <!-- Image -->
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]">
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"></textarea>
                </div>
                <!-- Price -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="text" id="price" name="campground[price]">
                </div>
                <button class="btn btn-success">Add campground</button>
            </form>
            <a href="/campgrounds" >All Campgrounds</a>
        </div>
    </div>